/* .navbar{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 91px;

position: absolute;
width: 503px;
height: 40px;
left: 649px;
top: 84px;

} */

background{
    position: relative;
width: 1440px;
height: 4155px;

background: #5E4949;
}


hr{
    width: 1040px;

height: 13px;
left: 200px;
top: 306px;

background: #EE4035;
}
.imgPokeball{
    position: absolute;
width: 156px;
height: 156px;
left: 220px;
top: 26px;
}
.navbar{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 91px;

position: absolute;
width: 503px;
height: 40px;
left: 949px;
top: 84px;
}

.bio{
    width: 113px;
    height: 40px;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.stats{
    width: 69px;
    height: 40px;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.evo{
    width: 139px;
    height: 40px;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}
.headingPika{
    
position: absolute;
width: 413px;
height: 147px;
left: 713px;
top: 220px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 88px;
line-height: 147px;

color: #ECECEC;
}
.pikachuImg{
    position: absolute;
width: 541px;
height: 409px;
left: 180px;
top: 600px;
}
.bioHead{
    position: absolute;
width: 158px;
height: 52px;
left: 320px;
top: 510px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 52px;
/* identical to box height */


color: #FFFFFF;
}
.bioPara{
    position: absolute;
width: 731px;
height: 426px;
left: 675px;
top: 582px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 60px;
/* or 150% */


color: #FFFFFF;
}
.bioPara1{
    position: absolute;
width: 1186px;
height: 355px;
left: 235px;
top: 1000px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 60px;
/* or 150% */


color: #FFFFFF;
}
.ashPika{
    position: absolute;
width: 509px;
height: 331px;
left: 180px;
top: 1650px;
}
.ashTepika{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 18px;

position: absolute;
width: 400px;
height: 227px;
left: 797px;
top: 1760px;
}
.effect{
    color:#F1DF61;
    font-style: normal;
font-weight: 300;
font-size: 60px;
}
.effect:hover{
    box-sizing: border-box;
  width: 500px;
  height: 100px;  
  border: 2px solid #F1DF61;
  padding-left: 60px;
    background-color: red;
}
.statsCon{
    position: absolute;
width: 101px;
height: 60px;
left: 320px;
top: 2305px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 60px;
/* identical to box height, or 133% */


color: #FFFFFF;
}
.statsNum{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 158px;

position: absolute;
width: 862px;
height: 80px;
left: 460px;
top: 2441px;
}
.one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-size: 45px;
    width: 97px;
    height: 80px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.two{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
font-size: 45px;
width: 97px;
height: 80px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.three{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
font-size: 45px;
width: 97px;
height: 80px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.four{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
font-size: 45px;
width: 97px;
height: 80px;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}
.speed{
    position: absolute;
    width: 123px;
    height: 60px;
    left: 450px;
    top: 2690px;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height, or 120% */
    
    
    color: #FFFFFF;
}
.power{
    position: absolute;
    width: 128px;
    height: 60px;
    left: 714px;
    top: 2690px;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height, or 120% */
    
    
    color: #FFFFFF;
}
.skill{
    position: absolute;
    width: 95px;
    height: 60px;
    left: 983px;
    top: 2690px;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height, or 120% */
    
    
    color: #FFFFFF;
}
.jump{
    position: absolute;
    width: 109px;
    height: 60px;
    left: 1219px;
    top: 2690px;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height, or 120% */
    
    
    color: #FFFFFF;
}
.evoCont{
    position: absolute;
width: 191px;
height: 60px;
left: 320px;
top: 3049px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 60px;
/* identical to box height, or 133% */


color: #FFFFFF;
}
.evo1{
    position: absolute;
width: 458px;
height: 491px;
left: 300px;
top: 3178px;
}
.evo2{
    position: absolute;
width: 619px;
height: 525px;
left: 800px;
top: 3178px;
}
.pikaEvo{
    position: absolute;
    width: 194px;
    height: 60px;
    left: 437px;
    top: 3738px;
    
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    /* identical to box height, or 100% */
    
    
    color: #FFFFFF;
}
.raiEvo{
    position: absolute;
width: 171px;
height: 60px;
left: 1198px;
top: 3738px;

font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;
/* identical to box height, or 100% */


color: #FFFFFF;
}
footer{
    position: absolute;
    width: 636px;
height: 60px;
font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 60px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
top: 4020px;
left: 550px;

}